@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');
body {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #e4dbdb;
}
